<!doctype html>
<html>
head
    title Tstimelines
    link(rel="stylesheet", href="style.css")
body
    h1 Tstimelines
    div.site(hx-get="/prompts", hx-trigger="load")

    script(src="./htmx.min.js", type="text/javascript")
</html>