<!doctype html>
<html>
head
    title Tstimelines
    link(rel="stylesheet", href="style.css")
body
    h1 Tstimelines
    div.site
        div.prompts(hx-get="/prompts", hx-trigger="load", hx-swap="outerHTML")
        div.stage

    script(src="./htmx.min.js", type="text/javascript")
</html>