div.stage
    h3= prompt.title
    div.prompt
        div.data some data on prompy! 游냘
        span.promptmeat= prompt.prompt
        span.responsemeat
div.display
    <!-- stor uppt칛ckt nu ang. HTMX det 칛r att ditt 1 objekt kan bli ersatt av mer 칛n ett :o om det verkligen 칛r s친 s친 f칬r칛ndrar det allt -->
    <!-- big discovery in PUG nu det 칛r att jag beh칬ver inte avsluta kommentaren va?
    | men jag kan pipea in s친h칛r -->
    <!-- anyway d친 kan man stoppa in en ny grej UTAN target tag och sen en till tag med r칛tt target och s친 g칬ra +1. man kan g칬ra fibonacci typ? -->
    div.responses
        each response in responses
            button(hx-get="/responses/" + response.id, hx-target=".responsemeat", hx-swap="outerHTML")= response.id