div.stage
    h3= prompt.title
    div.promptmeat
        pre= prompt.prompt
    div.responses
        each response in responses
            button(hx-get="/responses/" + response.id, hx-target=".display")= response.id
div.display