h1, h2, h3, pre {
    margin: 0;
    padding: 0;
}
h3 {
    text-transform: capitalize;
}
.site {
    display: grid;
    grid-template-columns: 200px 400px auto;
    gap:20px;
}
.prompts {
}
.prompts button {
    display: block;
    width: 100%;
}
.stage {
}
.promptmeat {
    background-color: #ff0;
    display: table;
}
.responsemeat {
    background-color: #0ff;
    display: table;
}