html {
    min-height: 100%;
}
body {
    background-image: url("delphi-lg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
button {
    background-color: #00000022;
    max-width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
}
h1, h2, h3, pre {
    margin: 0;
    padding: 0;
}
h1, h2, h3, * {
    text-transform: capitalize;
    text-transform: full-width;
}
pre {
    white-space: pre-wrap;
}
.site {
    display: grid;
    grid-template-columns: 200px auto;
    gap:20px;
}
.locus {
    display: grid;
    grid-template-columns: auto 400px;
}
.prompts {
}
.prompts button {
    display: block;
    width: 100%;
}
.stage {
}
.promptmeat {
    background-color: #ff0;
}
.responsemeat {
    background-color: #0ff;
}
.responses, .display {
    overflow-y: scroll;
}
.responses {
    position: fixed;
    right: 8px;
    width: 400px; /* that's right */
}